<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Tu wpisz opis zawartości strony" />
	<meta name="Keywords" content="Tu wpisz wyrazy kluczowe rozdzielone przecinkami" />
	{% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'balances/style.css' %}" />
	<title>Tu wpisz tytul strony</title>
</head>
<body>
  <body>
    <div id="login">
     zalogowany jako : {{ user }}<br><br>
      {% if user.is_anonymous %}
      <a href="{% url 'django.contrib.auth.views.login' %}">zaloguj</a>
      {% else %}
      <a href="{% url 'django.contrib.auth.views.logout' %}"><button type="button" class="myButton"> wyloguj </button></a>

      {% endif %}
  
<br><br>
    <form method="get" action="javascript:history.go(-1)">
    <button type="submit"" class="myButton">wstecz </button>
</form>

    <br><br>
    </div>
<!-- Tu wpisuje sie tresc strony-->

    {% block 'content' %}
    tresc base
    {% endblock %}

</body>
</html>